.user-not-found-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-not-found-error > p {
  font-size: 2rem;
}

.user-not-found-error__back  {
  display: flex;
  align-items: center;
  gap: .5rem;

  text-decoration: none;
}
