.btn {
  outline: none;
  border: none;
  box-shadow: 0 0 1px gray;
  padding: 0.5rem;

  width: max-content;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.99);
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: .5rem;

  outline: none;
  border: none;

  height: 40px;
  border-radius: 50px;
  padding: 0 1rem;
  box-shadow: 0 0 1px gray;
  transform: scale(.99);
}

.icon-btn {
  text-decoration: none;
  color: black;
}

.icon-btn .icon {
  font-size: 1rem;
}

.icon-btn:hover {
  transform: scale(1);
  background-color: #eeeeee;
  cursor: pointer;
}

.icon-btn:active {
  transform: scale(.98);
}
