.button-active, .icon-button {
  outline: none;
  border: none;
  box-shadow: 0 0 1px var(--shadow-color);
  transform: scale(.99);
  padding: 0.5rem;
  width: max-content;
}

.button-active:hover, .icon-button:hover {
  cursor: pointer;
  transform: scale(1);
}

.button-active:active, .icon-button:active {
  transform: scale(0.98);
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 40px;
  border-radius: 50px;
  padding: 0 1rem;
  box-shadow: 0 0 1px gray;
  text-decoration: none;
  color: black;
}

.icon-button .icon {
  font-size: 1rem;
}

.icon-button:hover {
  background-color: var(--hover-background-color);
}
