:root {
  --nav-background-color: #ffffff;
  --box-shadow-color: #919191;
  --text-error-color: #ff0000;
  --hovered-background-color: #eeeeee;
  --curtain-smoke-background: #ECECEC16;
  --text-dark: #111111;
  --color-white: #ffffff;
}
