.form {
  display: flex;
  flex-direction: column;

  width: max-content;
  padding: .4rem;
}

.form > div:first-child {
  display: flex;
}

.form__field {
  padding: .4rem 0;
}

.field__input {
  padding: .4rem 1rem;
  border: none;
  box-shadow: 0 0 1px gray;
  outline: none;
}

.field__errors.touched > span {
  color: red;
  font-size: .65rem;
  font-weight: bolder;
}

