.nav {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 2px gray;

  min-height: 5rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  justify-content: space-between;
}
