<div class="user-details" *ngIf="user">
  <div class="nav">
    <a routerLink="/user/list" class="nav__return-link">
      <span class="material-symbols-outlined">arrow_back</span>
      <span>Back to users list</span>
    </a>
  </div>
  <div class="user-details__cards">
    <div class="user-details__personal">
      <h2>Personal data:</h2>
      <p><span class="text-bold">Name:</span> {{user.name}}</p>
      <p><span class="text-bold">Surname:</span> {{user.surname}}</p>
    </div>
    <div class="user-details__address">
      <h2>Address:</h2>
      <p><span class="text-bold">City:</span> {{user.address.city}}</p>
      <p><span class="text-bold">Postal code:</span> {{user.address.postalCode}}</p>
      <p><span class="text-bold">Street:</span> {{user.address.street}}</p>
    </div>
    <div class="user-details__contact">
      <h2>Contact:</h2>
      <p><span class="text-bold">Phone number:</span>{{user.phoneNumber}}</p>
      <p><span class="text-bold">Email:</span> {{user.email}}</p>
    </div>
  </div>
</div>
<app-user-not-found *ngIf="!user"/>
