.user {
  position: relative;
}

.users__top-bar {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 2px gray;

  min-height: 5rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;
}

.top-bar__header {
  margin: 0;
  padding: 1rem;
}

.users__list {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.list__user {
  padding: 1rem;
  box-shadow: 0 0 1px #a8a8a8;
  transition: background-color 500ms 100ms linear;
}

.list__user:hover {
  transition: background-color 100ms 100ms linear;
  background-color: #f1f1f1;
}
