/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}


.text-bold {
  font-weight: bold;
}

.card {
  box-shadow: 0 0 1px gray;
  padding: 1rem;
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: .5rem;

  outline: none;
  border: none;

  /*width: 40px;*/
  height: 40px;

  border-radius: 50px;
  padding: 0 1rem;
  box-shadow: 0 0 1px gray;

  transform: scale(.99);

}

.icon-btn {
  text-decoration: none;
  color: black;
}

.icon-btn .icon {
  font-size: 1rem;
}

.icon-btn:hover {
  transform: scale(1);

  background-color: #eeeeee;
  cursor: pointer;

}

.icon-btn:active {
  transform: scale(.98);
}
