/* You can add global styles to this file, and also import other style files */
@import "app/common/styles/buttons.css";
@import "app/common/styles/colors.css";
@import "app/common/styles/form.css";

body {
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}


.text-bold {
  font-weight: bold;
}

.card {
  box-shadow: 0 0 1px gray;
  padding: 1rem;
}
